.form {
  background-color: lightgrey;
  border: 3px solid grey;
  border-radius: 10px;
  display: table;
  padding: 10px;
}

.form label {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  width: 70px;
}

.form input {
  background-color: #eee;
  border-radius: 5px;
  border: 2px solid lightgrey;
  color: darkslategrey;
  height: 20px;
  padding-left: 5px;
  width: 200px;
}

.form select {
  background-color: #eee;
  border: 2px solid lightgrey;
  border-radius: 5px;
  color: darkslategrey;
  height: 24px;
  width: 120px;
}

.form .inputRow {
  margin-bottom: 10px;
}

.form .submit {
  float: right;
  margin-right: 2px;
}

.form .submit input {
  background: url('../../images/accept.png') no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: none;
}
